body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #FEFAF6; /* Light cream */
  color: #102C57; /* Dark navy */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App > * {
  flex-shrink: 0;
}
